@model AdminRegisterViewModel
@{
    ViewBag.Title = "AdminRegister";
}

<div class="container">
    <h2>Administrative Register</h2>
    <form asp-action="AdminRegister" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label><br />
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Role"></label><br />
            <select asp-for="Role" class="form-control">
                <option value="member">Member</option>
                <option value="administrator">Administrator</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
</div>